@import "~bulma/bulma.sass";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

$pink-one: #fb95ae;
$blue-one: #70b1d2;
$pink-two: #f47391;
$blue-two: #7196d1;
$yellow: #fec761;
$black: #0d0809;
